﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master"  AutoEventWireup="true" CodeFile="AdminAction.aspx.cs" Inherits="AdminAction" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

      <h1><asp:Label ID="Label1" runat="server" Text="Admin Actions" ></asp:Label></h1>
    <p>
        <asp:DropDownList ID="SearchType" runat="server" DataSourceID="" DataTextField="LName" DataValueField="EmpID" OnSelectedIndexChanged="SearchType_SelectedIndexChanged">
            <asp:ListItem>Student ID</asp:ListItem>
            <asp:ListItem>Last Name</asp:ListItem>
            <asp:ListItem>Supervisor</asp:ListItem>
        </asp:DropDownList>
   <br />
        <asp:Label ID="Label2" runat="server" Text="Search by "></asp:Label>
        <asp:TextBox ID="EmpSearch" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Submit" OnClick="Button1_Click" />
    </p>





           
     
      
   <!--         VFNAME:
            <asp:TextBox ID="VFNAMETextBox" runat="server" Text='<%# Bind("VFNAME") %>' />
            <br />
            VLNAME:
            <asp:TextBox ID="VLNAMETextBox" runat="server" Text='<%# Bind("VLNAME") %>' />  -->

    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Height="50px" Width="305px">
        <FooterStyle VerticalAlign="Top" />
</asp:DetailsView>
    <br />
         <!--   <asp:TextBox ID="TextBox1" runat="server" Visible="False"></asp:TextBox> -->
            &nbsp;&nbsp;&nbsp;
    
    <asp:DetailsView ID="DetailsView2" runat="server" AutoGenerateRows="true" Height="50px" Width="125px">

      </asp:DetailsView>



&nbsp;<asp:SqlDataSource ID="SqlDataSource2" runat="server" 
          ConnectionString="<%$ ConnectionStrings:TUTORTRACConnectionString %>" 
          SelectCommand="SELECT Employee.EmpID, Employee.StuID, Employee.LName, Employee.FName, EmpSupervisor.SupvLastName, EmpAdminAction.AaDate, EmpAdminAction.NOTES, AdminAction.ActionName FROM Employee INNER JOIN EmpSupervisor ON Employee.EmpID = EmpSupervisor.EmpID INNER JOIN EmpAdminAction ON Employee.EmpID = EmpAdminAction.EmpID INNER JOIN AdminAction ON EmpAdminAction.aaID = AdminAction.AaID">
          <FilterParameters>
              <asp:ControlParameter ControlID="EmpSearch" Name="lname" PropertyName="Text" />
          </FilterParameters>
      </asp:SqlDataSource>
      <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:TUTORTRACConnectionString %>" SelectCommand="SELECT * FROM [Employee]"></asp:SqlDataSource>
       <br />
           
   
     
   
    <br />
   
    <br />

</asp:Content>

