﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master"  AutoEventWireup="true" CodeFile="BldgInput.aspx.cs" Inherits="BldgInput" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h1>Building Input</h1>
    </asp:Content>
