﻿
<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" Title="Untitled Page" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="login" style="width:500px;margin-left:20px;">
        <div  style="margin:5px">
    <asp:Label ID="username" style="padding-right:10px" runat="server" Text="Username"></asp:Label>
    <asp:TextBox ID="userTxt" runat="server" Width="200px" ></asp:TextBox>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:TUTORTRACConnectionString %>" SelectCommand="SELECT * FROM [UserAccess]"></asp:SqlDataSource>
            </div>
        <br>
    <div  style="margin:5px">
    <asp:Label style="padding-right:10px" ID="password" runat="server" Text="Password"></asp:Label>
    <asp:TextBox ID="passTxt" type="password" runat="server" Width="200px"></asp:TextBox>
        </div>
    <br>
<asp:Button ID="Button1" style="margin-left:70px; margin-top:10px;" runat="server" onclick="LoginBtn_Click" Text ="Button" Width="10em" />
        <asp:Label ID="Label1" runat="server" Text=" "></asp:Label>
        <asp:Label ID="Label2" runat="server" Text=" "></asp:Label>

        </div>
</asp:Content>


