﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master" AutoEventWireup="true" CodeFile="NewTraingInfo.aspx.cs" Inherits="NewTraingInfo" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h2>New Training Info</h2>
</asp:Content>