﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master" AutoEventWireup="true" CodeFile="Positions.aspx.cs" Inherits="Positions" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h2>Positions</h2>
</asp:Content>
