﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master" AutoEventWireup="true" CodeFile="Resources.aspx.cs" Inherits="Resources" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h2>Resources</h2>
</asp:Content>
