﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master"  AutoEventWireup="true" CodeFile="TrngFrequency.aspx.cs" Inherits="TrngFrequency" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h1>Training Frequency</h1>
    </asp:Content>
