﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageOne.master"  AutoEventWireup="true" CodeFile="Tutoring.aspx.cs" Inherits="Tutoring" %>

<%@ MasterType VirtualPath="~/MasterPageOne.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h1>Tutoring</h1>
    </asp:Content>
